@page "/search"
@inject HttpClient Http

<h1>Search</h1>


<form @onsubmit="Searching">
    <input @bind="@searchValue" type="text" placeholder="Search.." name="search">
    <button type="submit">Search</button>
</form>
<p>*Note that searches must be exact</p>

@if (searchResults == null)
{
    <p><em>No Results to show</em></p>
}
else
{
    <h3>People</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Main Profession</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in searchResults.people_results)
            {
            <tr>
                <td><a href="/personinfo/@p.id"><p>@p.name</p></a></td>
                @if (p.main_profession == "")
                {
                    <td>Information Not Available</td>
                }
                else
                {
                    <td>@p.main_profession</td>
                }

            </tr>
            }
        </tbody>
        </table>
        <br />
        <h3>Title</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Year</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in searchResults.title_results)
                {
                    <tr>
                        <td><a href="/title/@t.id"><p>@t.name</p></a></td>
                        <td>@t.year</td>
                        <td>@t.type</td>
                    </tr>



                }

            </tbody>
        </table>
        }
        @code {

        private SearchResult searchResults;
        private string searchValue;
        private string lastValueSearched;


        protected async Task Searching()
        {
            if (searchValue != null && lastValueSearched != searchValue)
            {
                string searchValueHttp = searchValue.Replace(" ", "%20");
                lastValueSearched = searchValue;

                string httpString = $"https://api.watchmode.com/v1/search/?apiKey=vMCQ0i6AkMxAo5afgFFjxSZVpAbpM6oiPNprmEZl&search_field=name&search_value={searchValueHttp}";
                searchResults = await Http.GetFromJsonAsync<SearchResult>(httpString);
            }
        }

        public class TitleResult
        {
            public string resultType { get; set; }
            public int id { get; set; }
            public string name { get; set; }
            public string type { get; set; }
            public int year { get; set; }
            public string imdb_id { get; set; }
            public int tmdb_id { get; set; }
            public string tmdb_type { get; set; }
        }

        public class PeopleResult
        {
            public string resultType { get; set; }
            public int id { get; set; }
            public string name { get; set; }
            public string main_profession { get; set; }
            public string imdb_id { get; set; }
            public int tmdb_id { get; set; }
        }

        public class SearchResult
        {
            public List<TitleResult> title_results { get; set; }
            public List<PeopleResult> people_results { get; set; }
        }

        }
